*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;  
    margin: 50px;
    align-items: center;
    text-align: center;
}
header{
    height: 20%;
    display: flex;
    font-size: 15px;
}
main{
    height: 60%;
}
footer{
    height: 20%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    box-shadow: 0px 0px 8px black;
    cursor: pointer;
}
